<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="com.ibm.etools.websphere.tools.v5.common.launchConfigurationType">
<stringAttribute key="com.ibm.debug.wsa.attr_vm_name" value="j9"/>
<intAttribute key="com.ibm.debug.wsa.attr_was_version" value="2"/>
<stringAttribute key="com.ibm.debug.wsa.attr_vm_version" value="1.4 subset"/>
<stringAttribute key="server-id" value="9_29_11_4_36_PM4"/>
</launchConfiguration>
