HTML{height:100%;}
BODY{width:780px; FONT-FAMILY:Arial;FONT-SIZE:80%;padding:0;height:100%;text-align: center;margin: 0 auto;}
#container{width:784px;margin: 0 auto;text-align: left;border-left:1px solid #bbb;border-right:1px solid #bbb;border-bottom:1px solid #bbb; padding-left:2px;padding-right:2px;background-color: #fff}
#container_tab{width:770px;text-align: left;background-color: #fff}
#logo{width: 782px;height: 100px;margin-top: 5px; float: left; background-image: url('../images/banner_ktnb.png' );}
#loginStatus{ color:#000;font-size:0.8em; width: 775px;height: 12px; float: left; text-align: right;vertical-align: text-bottom;padding-top: 88px; padding-left: 5px}
#bottom {width:780px;background-color:#d2e1ea; float:left;border:solid 1px #aaa; padding:10px 0px; margin-bottom:2px;}
.homeButton{width:155px; margin:20px; height: 50px; background-color: #eee; float:left; text-align:center; padding-top: 10px;}
.divLogin{width: 780px;background-image: url('../images/loginBg.jpg' ); background-repeat: no-repeat;background-position: center center;margin: 0 auto;}
.x-window-proxy{margin: 0 auto;}
#content{width: 780px;margin: 0 auto;text-align: left;float: left; border: solid 1px #ccc; margin: 2px 0px 2px 0px;overflow: hidden; min-height: 140px;}
#content_tab{width: 770px;text-align: left;float: left;}
#contentPanel{text-align: center;}
#contentPanel div{text-align: left;}
body div{text-align: left;}
div{background-color: transparent;}
ul{background-image: none;background-color: transparent;}

.liMenu {list-style-type: none;}
.liMenu li{background-image: none;background-color: transparent; margin-top: 5px;}
.liMenu li a{text-decoration: none;margin-left: 7px;}
.liMenu li a:hover{color: #0000ff}
.liMenu img{height: 15px;}

.tableMenu {list-style-type: none; margin: 20px 0px 20px 20px;}
.tableMenu td{background-image: none;background-color: transparent; margin-top: 5px; width: 350px;}
.tableMenu a{text-decoration: none;margin-left: 7px;}
.tableMenu a:hover{color: #0000ff}
.tableMenu img{height: 15px;}
#tab_kntc div{background-image: none; padding: 0px;}
.tabTitle{font-weight: bold;color: maroon; font-weight: bold; font-size: 10px; float: left;}

.linkTrangChu{width: 170px;border:solid 1px #ccc;vertical-align: bottom;  float: left; margin-left: 10px; height: 121px;text-align: center;}
.linkTrangChu a{line-height: 25px; text-decoration: none;font-weight: bold;}
.linkTrangChu a:visited{line-height: 25px; text-decoration: none;font-weight: bold;}
.linkTrangChu .title{width: 170px; text-align: center; background-color: #d4e3eb;}
.linkTrangChu .title img{height: 15px;}
.linkTrangChu .content{width: 170px; text-align: center;min-height: 140px;}
.linkTrangChu .content a .img{width:170px; height: 90px;}
.alignL {text-align: left;}
.alignR {text-align: right;}
.width150{width: 150px}

#topbar{float: left; width: 780px; border:solid 1px #b5b5b5; margin-top:7px;background-color: #e5e5e5;height: 30px; font-size: 9pt;}
#topbar .item{float: left; border-right: solid 1px #b5b5b5; height: 30px; padding-top: 8px; padding-left: 2px; padding-right: 2px;}
#topbar .item a{text-decoration: none; font-weight: bold;color: blue;}
#topbar .item a:visited{color: blue;}
#topbar .item a:hover{color: blue;}
#topbar .item img{padding-bottom: 4px; vertical-align: middle; height:15px;}

LEGEND{COLOR:maroon;FONT:bold 14pt Arial;TEXT-DECORATION:none;}
FIELDSET{border:solid 0.1em #bbb; padding:3px;}
A.link1:link{COLOR:#003366;FONT:bold 8pt Arial;TEXT-DECORATION:none}
A.link1:visited{COLOR:#003366;FONT:bold 8pt Arial;TEXT-DECORATION:none}
A.link1:hover{COLOR:#338200;FONT:bold 8pt Arial;TEXT-DECORATION:underline}
A.link0:link{COLOR:#00008b;TEXT-DECORATION:none}
A.link0:visited{COLOR:#00008b;TEXT-DECORATION:none}
A.link0:hover{COLOR:#ff0000;TEXT-DECORATION:underline}
A.link2:link{FONT:bold 9pt Arial;COLOR:white;TEXT-DECORATION:none}
A.link2:visited{FONT:bold 9pt Arial;COLOR:white;TEXT-DECORATION:none} 
A.link2:hover{FONT:bold 9pt Arial;COLOR:white;TEXT-DECORATION:none}
A.link_index:link{COLOR:#003366;FONT-FAMILY: arial;font-size: 8pt;font-weight: bold;TEXT-DECORATION: none}
A.link_index:visited{COLOR:#003366;FONT-FAMILY: arial;font-size: 8pt;font-weight: bold;TEXT-DECORATION: none}
A.link_index:hover{COLOR: #D76B00;FONT-FAMILY: arial;font-size: 8pt;font-weight: bold;TEXT-DECORATION: underline}
.button{FONT:bold 8pt arial;text-align: center; padding-left: 5px; padding-right: 5px; margin-left: 5px;}
.lovButton{FONT:bold 8pt arial;min-width: 50px;_width:25px;height: 22px;text-align: center;}
.checkbox{}
.but{font-weight: bold;font-size: 11pt;TEXT-TRANSFORM:uppercase;width:180px;height:60px;padding:10;margin:10}
.header{text-align:center;color:#002356;FONT:bold 10pt;text-transform: uppercase; margin-top: 10px; margin-bottom: 5px;}
.TdHeaderList{font-weight:bold;font-size:8pt;FONT-FAMILY:Arial;COLOR:#003366;BACKGROUND-COLOR:#B6C9E9;height:25px}
.TdHeaderListOfSearch{font-weight:bold;font-size:8pt;FONT-FAMILY:Arial;COLOR:#003366;BACKGROUND-COLOR:#B6C9E9;height:35px}
.title10{FONT:bold 10pt;TEXT-TRANSFORM:uppercase;color:#002356}
.title09{FONT:bold 9pt;TEXT-TRANSFORM:uppercase;color:#002356}
.row1{WIDTH:100%;COLOR:black;BACKGROUND-COLOR:#eeeeee}
.row2{WIDTH:100%;COLOR:black;BACKGROUND-COLOR:white}
.row3{background-color:rgb(181,203,239)}
.total{FONT:bold 8pt;COLOR:red;BACKGROUND-COLOR:#F0F5D1;}
.txt08{FONT-SIZE:8pt} 
.txt09{FONT-SIZE:9pt}
.txt10{FONT-SIZE:10pt}
.rtext8{text-align:right;border:none;FONT-SIZE:8pt;background-color:transparent;color:#002356}
.ctext8{text-align:center;border:none;FONT-SIZE:8pt;background-color:transparent;color:#002356}
.text8{border-left:none;border-right:none;border-top:none;border-bottom:#696969 1pt solid;FONT-SIZE:8pt;background-color:transparent;color:#002356;-ms-text-overflow:ellipsis;;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
/*.text{border-left:none;border-right:none;border-top:none;border-bottom:#696969 1pt solid;FONT-SIZE:9pt;background-color:transparent;color:#002356;-ms-text-overflow:ellipsis;;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
*/
.text2{height: 20px;-ms-text-overflow:ellipsis;;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.text{width: 100%;height: 20px;-ms-text-overflow:ellipsis;;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.textField{background-color:transparent;color:#002356;white-space:nowrap;font-weight: bold;}
.text1{border-left:none;border-right:none;border-top:none;border-bottom:#696969 1pt solid;FONT-SIZE:9pt;background-color:transparent;color:#002356;-ms-text-overflow:ellipsis;;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.textarea1213{border-left:none;border-right:none;border-top:none;border-bottom:#696969 1pt solid;FONT-SIZE:9pt;background-color:transparent;color:#002356;-ms-text-overflow:ellipsis;;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;size: 120px;}
.textareaTitle{width: 100%; height:40px}
.textareaContent{width: 100%; height:100px}
.textarea{}
.righttext{text-align:right;border-left:none;border-right:none;border-top:none;border-bottom:#696969 1pt solid;FONT-SIZE:9pt;background-color:transparent;color:#002356}
.centertext{text-align:center;border-right:none;border-top:none;border-left:none;border-bottom:#696969 1pt solid;FONT-SIZE:9pt;background-color:transparent;color:#002356}
.hiddentext{border-left: none;border-right: none;border-top: none;border-bottom: none;FONT:bold 8pt Arial;background-color:transparent;color:#002356}
.combobox123{border-right:navy thin;border-top:navy thin;border-left:navy;border-bottom:gray 1pt solid;FONT-SIZE:9pt; color:#002356}
.combobox{}
.href{border-left:none;border-right:none;border-top:none;border-bottom:none;FONT-SIZE:9pt;background-color:transparent;color:#338200;TEXT-DECORATION:underline}
.label{color:#002356;border-right:none;border-top:none;border-left:none}
.fieldset{padding:2px;overflow:scroll;width:720px;font-size: 8pt}
select,table{FONT-SIZE:8pt}
legend,li{font:bold 8pt Arial}

/*P:Khong dung cho nay, vi anh huong den phan He Thong.*/
/*table tr{height:20px}
table thead tr{font:bold 8pt Arial;color:#003366;background-color:#b6c9e9;height:25px;text-align:center}*/

div#msgdiv{font:bold 8pt arial;color: red;}
.toolbar{text-align:right;padding:2px;background-color:#B6C9E9;}
.toolbarw{text-align:right;padding:2px;}
.ui-selecting{background-color:#FFF2E5;}
.ui-selected{background-color:#FFE6CC;}
tr.selected{border: 1px solid #fbd850; background: #ffffff url(ui-lightness/images/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% 50% repeat-x;color: #eb8f00; }
tr.highlight{border:1px solid #fbcb09; background: #fdf5ce url(ui-lightness/images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; color: #c77405;}
tr.r0{background-color:#ECECF9;}
tr.r1{background-color:#E5E5F7;}
tr.r2{background-color:#D9D9F3;}
/*---TopBar----------------------------*/
.jx-bar {height:30px;padding:0px;width:780px;background-color:#e5e5e5;border:#b5b5b5 solid 1px;}
/*----- bar separator -----*/
.jx-bar span {width:1px;height:100%;background-color:#ccc;}
.jx-separator-left {float:left;}
.jx-separator-right {float:right;}
/*----- bar button -----*/
.jx-bar-button ul {margin:0px;padding:0px;}
.jx-bar-button li {float:left;list-style:none;}
.jx-bar-button-right li {float:right;list-style:none;}
.jx-bar-button li {font-size:11px;cursor:pointer;padding:4px 8px 4px 8px;border:#e5e5e5 solid 1px;margin:2px;}
.jx-bar-button li:hover {background-color:#eee;border:#ccc solid 1px;padding:4px 8px 4px 8px;margin:2px;}
/* default button's anchor text style */
.jx-bar-button li a:link, .jx-bar-button li a:visited {font-size:11px;color:#666;text-decoration:none;padding:1px;}
.jx-bar-button li a:hover {font-size:11px;color:#333;text-decoration:none;}
/*----- bar text container and button arrow indicator -----*/
.jx-bar div, .jx-bar iframe {float:left;}
.jx-bar div {font-size:11px;color:#666;padding:4px 8px 4px 8px;margin:4px 0px 4px 0px;}
.jx-bar iframe {margin:4px 0px 4px 10px;}
.jx-bar div a:link, .jx-bar div a:visited {color:#666;text-decoration:none;}
.jx-bar div a:hover {color:#0099FF;text-decoration:none;}
/*----- nav menu -----*/
.jx-nav-menu {font-size:11px;padding:2px;background-color:#eee;border:#ccc solid 1px;}
.jx-nav-menu ul {margin:0;padding:0;list-style:none;width:150px;}
.jx-nav-menu a:hover {background-color:#4096EE;color:#fff;text-decoration:none;}
.jx-nav-menu ul li a {display:block;text-decoration:none;color:#777;background:#fff;padding:8px;border:1px solid #eee;border-bottom:0px;}
.jx-nav-menu-active {font-size:11px;cursor:pointer;background-color:#ccc;padding:4px 8px 4px 8px;margin:2px;}
.jx-arrow-up {background-image:url(../include/image/up.gif);background-repeat:no-repeat;background-position:center;}
.jx-arrow-down {background-image:url(../include/image/dn.gif);background-repeat:no-repeat;background-position:center;}
/* tooltip point direction */
.jx-tool-point-dir-down {background-image:url(../include/image/ttd.gif);background-repeat:no-repeat;background-position:center bottom;height:5px;width:auto;}
.jx-tool-point-dir-up {background-image:url(../include/image/ttu.gif);background-repeat:no-repeat;background-position:center bottom;height:5px;width:auto;}
/* hide and show/unhide item */
.jx-hide {float:right;background-image:url(../include/image/hide.gif);background-repeat:no-repeat;height:16px;width:16px;}
/* if showOnTop is TRUE, use "show.gif" instead of "hide.gif" */
.jx-hide-top {float:right;background-image:url(../include/image/show.gif);	background-repeat:no-repeat;height:16px;width:16px;}
.jx-show {height:30px;padding:0px;width:40px;background-color:#e5e5e5;border:#b5b5b5 solid 1px;}
.jx-show-button {float:right;background-image:url(../include/image/show.gif);background-repeat:no-repeat;height:16px;width:16px;}
/* if showOnTop is TRUE, use "hide.gif" instead of "show.gif" */
.jx-show-button-top {float:right;background-image:url(../include/image/hide.gif);background-repeat:no-repeat;height:16px;width:16px;}
.jx-hide-separator {width:1px;height:100%;background-color:#ccc;float:right;}
/*--------Tree view-------------------*/
a img { border: none;}
.treeview, .treeview ul {padding: 0;margin: 0;list-style: none;}
.treeview ul {background-color: white;margin-top: 4px;}
.treeview .hitarea {background: url(../include/image/treeview-default.gif) -64px -25px no-repeat;height: 16px;width: 16px;margin-left: -16px;float: left;cursor: pointer;}
* html .hitarea {display: inline;float:none;}
.treeview li {margin: 0;padding: 3px 0pt 3px 16px;}
.treeview a.selected {background-color: #eee;}
.treeview .hover { color: red; cursor: pointer; }
.treeview li { background: url(../include/image/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }
.treeview .expandable-hitarea { background-position: -80px -3px; }
.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../include/image/treeview-default.gif); }  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }
.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }
.treeview-red li { background-image: url(../include/image/treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(../include/image/treeview-red.gif); } 
.treeview-black li { background-image: url(../include/image/treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(../include/image/treeview-black.gif); }  
.treeview-gray li { background-image: url(../include/image/treeview-gray-line.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(../include/image/treeview-gray.gif); } 
.treeview-famfamfam li { background-image: url(../include/image/treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(../include/image/treeview-famfamfam.gif); } 
.treeview .placeholder {background: url(../include/image/ajax-loader.gif) 0 0 no-repeat;height: 16px;width: 16px;display: block;}
.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
.filetree span.folder { background: url(../include/image/folder.gif) 0 0 no-repeat; }
.filetree li.expandable span.folder { background: url(../include/image/folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(../include/image/file.gif) 0 0 no-repeat; }
/*---------DataTable------*/
#dt_example {margin: 0;padding: 0;color: #333;background-color: #fff;}
#dt_example #container {width: 800px;margin: 30px auto;padding: 0;}
#dt_example #footer {margin: 50px auto 0 auto;padding: 0;}
#dt_example #demo {margin: 30px auto 0 auto;}
#dt_example .demo_jui {margin: 30px auto 0 auto;}
#dt_example .big {font-size: 1.3em;font-weight: bold;line-height: 1.6em;color: #4E6CA3;}
#dt_example .spacer {height: 20px;clear: both;}
#dt_example .clear {clear: both;}
#dt_example pre {padding: 15px;	background-color: #F5F5F5;border: 1px solid #CCCCCC;}
#dt_example h1 {margin-top: 2em;font-size: 1.3em;font-weight: normal;line-height: 1.6em;color: #4E6CA3;border-bottom: 1px solid #B0BED9;clear: both;}
#dt_example h2 {font-size: 1.2em;font-weight: normal;line-height: 1.6em;color: #4E6CA3;clear: both;}
#dt_example a {color: #0063DC;text-decoration: none;}
#dt_example a:hover {text-decoration: underline;}
#dt_example ul {color: #4E6CA3;}
.css_right {float: right;}
.css_left {float: left;}
/*---------DataTables--------------------*/
.paging_two_button .ui-button {float: left;cursor: pointer;* cursor: hand;}
.paging_full_numbers .ui-button {padding: 2px 6px;margin: 0;cursor: pointer;* cursor: hand;}
.ui-buttonset .ui-button {margin-right: -0.1em !important;}
.paging_full_numbers {width: 350px !important;}
.ui-toolbar {padding: 5px;}
.dataTables_paginate {width: auto;}
.dataTables_info {padding-top: 3px;}
table.display thead th {font-weight: bold;padding: 3px 0px 3px 10px;cursor: pointer;* cursor: hand;}
table.display tfoot th {padding: 3px 18px 3px 10px;border-top: 1px solid black;font-weight: bold;}
/*Sort arrow icon positioning*/
table.display thead th div.DataTables_sort_wrapper {position: relative;padding-right: 20px;	padding-right: 20px;}
table.display thead th div.DataTables_sort_wrapper span {position: absolute;top: 50%;margin-top: -8px;right: 0;}
table.display td {padding: 3px 10px;}
table.display td.center {text-align: center;}

.DTFC_Cloned td{background-color: #B0BED9;}
/* DataTables features */
.dataTables_wrapper {position: relative;min-height: 30px;_height: 30px;clear: both;}
.dataTables_processing {position: absolute;top: 0px;left: 50%;width: 250px;margin-left: -125px;border: 1px solid #ddd;	text-align: center;	color: #999;	font-size: 11px;	padding: 2px 0;}
.dataTables_length {width: 40%;float: left;}
.dataTables_filter {width: 50%;float: right;text-align: right;}
.dataTables_info {width: 50%;float: left;}
.dataTables_paginate {float: right;text-align: right;}
/*
.dataTables_wrapper {position: relative;min-height: 302px;clear: both;_height: 302px;zoom: 1;}
.dataTables_processing {position: absolute;top: 50%;left: 50%;width: 250px;height: 30px;margin-left: -125px;margin-top: -15px;padding: 14px 0 2px 0;border: 1px solid #ddd;	text-align: center;	color: #999;	font-size: 14px;	background-color: white;}.dataTables_length {width: 40%;float: left;}
.dataTables_filter {width: 50%;float: right;text-align: right;}
.dataTables_info {width: 60%;float: left;}
.dataTables_paginate {width: 44px;* width: 50px;float: right;text-align: right;}
*/
/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {height: 19px;width: 19px;margin-left: 3px;float: left;}
.paginate_disabled_previous {background-image: url('../include/image/back_disabled.jpg');}
.paginate_enabled_previous {background-image: url('../include/image/back_enabled.jpg');}
.paginate_disabled_next {background-image: url('../include/image/forward_disabled.jpg');}
.paginate_enabled_next {background-image: url('../include/image/forward_enabled.jpg');}
/*DataTables display*/
table.display {margin: 0 auto;width: 100%;clear: both;border-collapse: collapse;}
table.display tfoot th {padding: 3px 0px 3px 10px;font-weight: bold;font-weight: normal;}
table.display tr.heading2 td {border-bottom: 1px solid #aaa;}
table.display td {padding: 3px 10px;}
table.display td.center {text-align: center;}
/* DataTables sorting */
.sorting_asc {background: url('../include/image/sort_asc.png') no-repeat center right;}
.sorting_desc {background: url('../include/image/sort_desc.png') no-repeat center right;}
.sorting {background: url('../include/image/sort_both.png') no-repeat center right;}
.sorting_asc_disabled {background: url('../include/image/sort_asc_disabled.png') no-repeat center right;}
.sorting_desc_disabled {background: url('../include/image/sort_desc_disabled.png') no-repeat center right;}
tr.odd {background-color: #E2E4FF;}
tr.even {background-color: white;}
.dataTables_scroll {clear: both;}
/*.dataTables_scrollBody {*margin-top: -1px;}*/
.top, .bottom {padding: 15px;background-color: #F5F5F5;border: 1px solid #CCCCCC;}
.top .dataTables_info {float: none;}
.clear {clear: both;}
.dataTables_empty {text-align: center;}
tfoot input {margin: 0.5em 0;width: 100%;color: #444;}
tfoot input.search_init {color: #999;}
td.group {background-color: #d1cfd0;border-bottom: 2px solid #A19B9E;border-top: 2px solid #A19B9E;}
td.details {background-color: #d1cfd0;border: 2px solid #A19B9E;}
.example_alt_pagination div.dataTables_info {width: 40%;}
.paging_full_numbers span.paginate_button,.paging_full_numbers span.paginate_active {border: 1px solid #aaa;-webkit-border-radius: 5px;-moz-border-radius: 5px;padding: 2px 5px;margin: 0 3px;cursor: pointer;*cursor: hand;}
.paging_full_numbers span.paginate_button {background-color: #ddd;}
.paging_full_numbers span.paginate_button:hover {background-color: #ccc;}
.paging_full_numbers span.paginate_active {background-color: #99B3FF;}
table.display tr.even.row_selected td {background-color: #B0BED9;}
table.display tr.odd.row_selected td {background-color: #9FAFD1;}
/* Sorting classes for columns */
tr.odd td.sorting_1 {background-color: #D3D6FF;}
tr.odd td.sorting_2 {background-color: #DADCFF;}
tr.odd td.sorting_3 {background-color: #E0E2FF;}
tr.even td.sorting_1 {background-color: #EAEBFF;}
tr.even td.sorting_2 {background-color: #F2F3FF;}
tr.even td.sorting_3 {background-color: #F9F9FF;}
/* Row highlighting example */
.ex_highlight #dm_table tbody tr.even:hover, #dm_table tbody tr.even td.highlighted {background-color: #ECFFB3;}
.ex_highlight #dm_table tbody tr.odd:hover, #dm_table tbody tr.odd td.highlighted {background-color: #E6FF99;}
.ex_highlight_row #dm_table tr.even:hover {background-color: #ECFFB3;}
.ex_highlight_row #dm_table tr.even:hover td.sorting_1 {background-color: #DDFF75;}
.ex_highlight_row #dm_table tr.even:hover td.sorting_2 {background-color: #E7FF9E;}
.ex_highlight_row #dm_table tr.even:hover td.sorting_3 {background-color: #E2FF89;}
.ex_highlight_row #dm_table tr.odd:hover {background-color: #E6FF99;}
.ex_highlight_row #dm_table tr.odd:hover td.sorting_1 {background-color: #D6FF5C;}
.ex_highlight_row #dm_table tr.odd:hover td.sorting_2 {background-color: #E0FF84;}
.ex_highlight_row #dm_table tr.odd:hover td.sorting_3 {background-color: #DBFF70;}
div.box {height: 100px;padding: 10px;overflow: auto;border: 1px solid #8080FF;background-color: #E5E5FF;}
/* Table Search ttkt */
.TabbleSearch{font-weight: bold; font-size: 8pt; FONT-FAMILY: Arial; background-color: #B6C9E9; height: 25px}
.linkCnPhu{font-size: 12; color: blue;}
.hideextra { white-space: nowrap; overflow: hidden; text-overflow:ellipsis;height: 35px;}
.hideextra-x {height: 50px;}
.hiddenall{white-space: nowrap; overflow: hidden; text-overflow:ellipsis;height: 35px;display: none;}
.width-more{width: 150px;}
/*DUAN-du_lieu_ket_luan_bao_cao.jsp*/
.table_bao_cao{}
.table_bao_cao td{border: dashed 1px #CCC}
.content_base{
overflow: hidden;
width: 100%;
margin-bottom:  10px;
font-size: 11;
}
.title{
float: left;
width: 28%;
font-size: 11;
}
.input input,textarea{
float:left;
width: 15%;
margin-right: 5px;
}
.title1 {
float: left;
margin-top:5px;
margin-left:30px;
width: 13%;
font-size: 11;
}
.title2 {
float: left;
margin-top:5px;
margin-left:1px;
width: 20.5%;
font-size: 11;
}
.title3 {
float: left;
width: 23%;
font-size: 11;
position: absolute;
}
.title4 {
float: left;
width: 15%;
font-size: 11;
position: absolute;
left: 500px;
}
.button .button1{
height: 25px;
}
.text1{width: 100%;
height: 20px;
-ms-text-overflow:ellipsis;
text-overflow:ellipsis;
overflow:hidden;
white-space:nowrap;
font-size: 11;
}
/*ket_luan_chuyen_bao_cao.jsp*/
.content1{
font-size:11;
overflow: hidden;
width: 100%;
padding: 5px 5px 5px 5px;
font-size: 11;
}
.label{
float:left;
padding: 2px 5px;
width: 25%;
}
.label1{
float:left;
width: 15%;
text-align: right;
padding:2px 2px;
}
.note{
float:left;
width:10%;
padding: 2px 2px;
}
.style2{
float:left;
width:15%;
}
.chk{
float:left;
}
.style1{
float:left;
width: 25%;
}
input[readonly="readonly"]
{
    background-color:#CCC;
}
#super-tabs li{font-weight: bold;}
input:read-only
{ 
background-color: #CCC;
}