<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration> 
	<session-factory>  
		<property name="hibernate.current_session_context_class">jta</property>
		<property name="hibernate.cache.provider_configuration_file_resource_path">/ehcache-2.xml</property>			
		<mapping resource="cmc/com/ktnb/entity/TTKT/dung_chung/TtktKhChiTietNoiDungTtkt.hbm.xml" />			
		<mapping resource="cmc/com/ktnb/entity/TTKT/dung_chung/TtktKhCuocTtkt.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/dung_chung/TtktKhNoiDungTtkt.hbm.xml" /> 
		<mapping resource="cmc/com/ktnb/entity/TTKT/dung_chung/TtktCmThayDoiTvd.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/dung_chung/TtktCmThayDoiThemMoiTvd.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/dung_chung/TtktKhDuyetKeHoach.hbm.xml" />		
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcBienBanNguoiRls.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KtnbChucNang.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KtnbNhomChucNang.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KtnbNhomQuyen.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KtnbNsd.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KtnbNsdNhom.hbm.xml" />  
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KtnbDmTinh.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KtnbDmPhong.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KtnbDmHuyen.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KtnbCaNhan.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KtnbDmCqt.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KtnbDmCanbo.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KtnbThamSo.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KtnbToChuc.hbm.xml" />	
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KtnbTlieuKemTheo.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcQdinhGquyet.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcGiayBienNhan.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcPhieuChuyenDon.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcQdxmPhieuYc.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcDmRls.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcPhieuHen.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcBienBan.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcPhieuGiaoHs.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcHoSoHdr.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcNdungDon.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcHoSoTheoDoi.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcKqxmKluatKnghi.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcQdinhXm.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcCanBoRls.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcDeXuatXly.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcPhieuHdNkn.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcKquaGquyetHdr.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcBaoCao.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcKquaXmDtl.hbm.xml" />	
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcXmKeHoach.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KtnbVanBanChiDao.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KtnbLopTapHuan.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcThongBaoKqgq.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcBCKQThucHienQDKN.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/Ttcp2a.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/Ttcp2b.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/Ttcp2c.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/Ttcp2d.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/Ttcp2dd.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/Ttcp1a.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/Ttcp1b.hbm.xml" />
		
		
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcQdDinhChiKN.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcBbDoiThoai.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcQdTamDinhChiKn.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcQdHuyTamDinhChiKN.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcNoiDungTCTT.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcTbKhongThuLyGqTiep.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcTbKoThuLyGq.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcGiaoNvXmTc.hbm.xml" />
		
		
		
		
		
		<mapping resource="cmc/com/ktnb/entity/TTKT/chuan_bi_tien_hanh/TtktCbDsTvDoan.hbm.xml" />	
		<mapping resource="cmc/com/ktnb/entity/TTKT/chuan_bi_tien_hanh/TtktCbChiTietDsTvDoan.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/chuan_bi_tien_hanh/TtktCbDeCuong.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/chuan_bi_tien_hanh/KtnbFile.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/dung_chung/TtktCmHsTl.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/chuan_bi_tien_hanh/TtktCbKhTtkt.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/chuan_bi_tien_hanh/TtktCbQd.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/chuan_bi_tien_hanh/TtktCbHuy.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/chuan_bi_tien_hanh/TtktCbHoan.hbm.xml" />			
		<mapping resource="cmc/com/ktnb/entity/TTKT/dung_chung/TtktCmBienBan.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/tien_hanh_ttkt/TtktThYcBsHstl.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/tien_hanh_ttkt/TtktThBienBanKiemKe.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/tien_hanh_ttkt/TtktThQdKiemKe.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/tien_hanh_ttkt/TtktThCongBoQd.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/tien_hanh_ttkt/TtktThBbNiemPhong.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/tien_hanh_ttkt/TtktThQdNiemPhongHsTl.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/tien_hanh_ttkt/TtktThBbMoNiemPhong.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/tien_hanh_ttkt/TtktThKiemTraXacMinh.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/tien_hanh_ttkt/TtktThTrungCauGiamDinh.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/tien_hanh_ttkt/TtktThGiaHan.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/tien_hanh_ttkt/TtktThYeuCauGiaiTrinh.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/tien_hanh_ttkt/TtktKtChuyenGiaoHsVv.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/tien_hanh_ttkt/TtktThBanGiaoHstlChoTd.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/tien_hanh_ttkt/TtktThNhatKy.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/tien_hanh_ttkt/TtktThBbChitietvatonghop.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/tien_hanh_ttkt/TtktThPhucTra.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/tien_hanh_ttkt/TtktThNoiDungPhucTra.hbm.xml" />	
		<mapping resource="cmc/com/ktnb/entity/TTKT/dung_chung/TtktCmThanhPhanThamDu.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/dung_chung/TtktCmNhanTraHstl.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KtnbPaHsRls.hbm.xml" />
		<mapping resource="cmc/com/ktnb/pl/hb/cf/KntcXmGiaHan.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/ket_thuc_ttkt/TtktKtKetLuanChuyenBC.hbm.xml"/>
		<mapping resource="cmc/com/ktnb/entity/TTKT/ket_thuc_ttkt/TtktKtChuyenDlieuSangBc.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/ket_thuc_ttkt/TtktKtBbCongBoKetLuan.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/TTKT/ket_thuc_ttkt/TtktKtBcKqThucHienKL.hbm.xml" />
		<mapping resource="cmc/com/ktnb/entity/KtnbTkCanBo.hbm.xml" />
	</session-factory>
</hibernate-configuration>